body {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
  color: var(--color1);
}

/* color palette  */
:root {
  --color1: #02203c;
  --color2: #535dc5;
}
button {
  cursor: pointer;
}
