body {
    margin: 0px;
    padding :0px;
    font-family: 'Montserrat', sans-serif;
    color: var(--color1)
}
 /* color palette  */
:root {
    --color1: #02203c;
    --color2: #535dc5;
}
header {
    width: 100%;
    background-color: var(--color1);
    color: #fff;
}
.header-container{
    width: 90%;
    height: 15vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header h1 {
    letter-spacing: 1px;
}
nav {
    width: 50%;
}
.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    font-size: 1.15rem;
    padding-top: 25px;
    letter-spacing: 1px;
}
li {
    cursor: pointer;
}
.login-button {
    background-color: var(--color2);
    padding: 12px 20px;
    border-radius: 5px;
    position: relative;
    bottom: 10px;
}
.login-button:hover{
    background-color:#535cc5de ;
}
.wrapper {
    width: 50%;
    margin: auto;
}

.post-container {
    width:100%;
    height:25vh;
    border: 1px #999 solid;
    display: flex;
    flex-direction: column;
    padding-left: 8%;
    padding-top: 3%;
    margin-top: 3%;  
}
.post-container h3{
    display: inline;
    font-size:0.9rem;
}
.post-container span {
    opacity: 0.4;
    font-size:0.9rem;
    letter-spacing: 1px;
}
.post-header, .post-body {
    width: 85%;
    border-bottom: 1px solid rgb(199, 199, 199);
    padding-bottom:5px;
}
.post-footer {
    width: 85%;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post-footer a {
    color: white;
    letter-spacing: 1px;
    background-color: var(--color2);
    padding: 6px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.post-footer a:hover {
    background-color:#3440c7cc ;
}
